# Лабораторная работа 1. Язык Python, основные библиотеки для анализа данных.

ФИО: Гой Антон Сергеевич

Группа: 517

In [1]:
import numpy as np
import pandas as pd

## Часть 1: Python

#### 1. Напишите код, который сформирует список всех натуральных чисел, не превосходящих 100, которые делятся на 7 и не делятся на 5. Нельзя использовать циклы — выполните это задание с помощью list comprehension.

In [2]:
[i for i in range(1, 100) if i % 7 == 0 and i % 5 != 0]

[7, 14, 21, 28, 42, 49, 56, 63, 77, 84, 91, 98]

#### 2. Напишите функцию `sort_tokens(s)`, которая принимает на вход строку, разделяет ее на токены по запятым, сортирует токены с помощью функции `sorted()` и снова соединяет их в одну строку через запятые. Например, для строки `u"ночь,фонарь,улица"` функция должна выдать `u"ночь,улица,фонарь"`. Придумайте несколько входных строк и протестируйте функцию на них.

Обратите внимание, что склеить строки можно с помощью конструкции `'x'.join(...)`. Например:

In [3]:
'! '.join(['i', 'am', 'very', 'excited', ':-)'])

'i! am! very! excited! :-)'

In [12]:
def sort_tokens(s):
    return ','.join(sorted(s.split(',')))

print(sort_tokens(u"ночь,фонарь,улица"))

ночь,улица,фонарь

#### 3. Напишите функцию `remove_duplicates(a)`, которая принимает на вход список и возвращает его же, но без дубликатов и в отсортированном виде. Например, для списка `[u"ночь", u"улица", u"фонарь", u"аптека", u"аптека", u"улица", u"фонарь"]` результат должен быть `[u"аптека", u"ночь", u"улица", u"фонарь", ]`.

Подсказка: обратите внимание на структуру `set`!

In [21]:
def duplicates(a):
    return sorted(list(set(a)))

duplicates([u"ночь", u"улица", u"фонарь", u"аптека", u"аптека", u"улица", u"фонарь"])

[u'\u0430\u043f\u0442\u0435\u043a\u0430',
 u'\u043d\u043e\u0447\u044c',
 u'\u0443\u043b\u0438\u0446\u0430',
 u'\u0444\u043e\u043d\u0430\u0440\u044c']

#### 4. Напишите функцию `word_counts(texts)`, которая принимает на вход список строк, и печатает пары (слово, число вхождений). Считайте, что слова в текстах могут быть разделены только пробелами. Например, для входа `[u'ночь улица фонарь аптека', u'аптека улица фонарь']` должно быть напечатано
>аптека 2

>улица 2

>фонарь 2

>ночь 1

Подсказки:

Чтобы разбить каждый из текстов на слова, воспользуйтесь функцией `map`, которая применяет заданную функцию к каждому элементу списка. Например, если бы нужно было каждый из текстов привести к нижнему регистру, то команда выглядела бы так:

In [22]:
map(lambda x: x.lower(), ["abCDefg", "HIjkL"])

['abcdefg', 'hijkl']

После первого шага вы получите список, состоящий из списков слов. Чтобы объединить их в один список слов, воспользуйтесь функцией `reduce`. Например, просуммировать числа из списка с ее помощью можно так:

In [23]:
reduce(lambda x, y: x + y, [1, 2, 3, 4, 5])

15

Для подсчета количества вхождений слов воспользуйтесь структурой `defaultdict` из модуля `collections`. В отличие от обычного `dict`, она не генерирует ошибку при обращении к несуществущему ключу, а создает новую запись, инициализируемую нулевым значением. Например:

In [2]:
from collections import defaultdict
d = defaultdict(int)
print d
d['abc'] += 1
print d
d['xxx']
print d

defaultdict(<type 'int'>, {})
defaultdict(<type 'int'>, {'abc': 1})
defaultdict(<type 'int'>, {'xxx': 0, 'abc': 1})

In [3]:
def word_counts(texts):
    words = reduce(lambda x, y: x + y, map(lambda x: x.split(), texts))
    d = defaultdict(int)
    for word in words:
        d[word] += 1
    
    for word in d:
        print word, ' ', d[word] 
        
word_counts([u'ночь улица фонарь аптека', u'аптека улица фонарь'])

аптека   2
улица   2
фонарь   2
ночь   1

#### 5. (бонусное задание) Скачайте английский перевод "Преступления и наказания". Найдите 20 самых популярных слов и 20 слов, которые встречаются только один раз.

Приведите текст к нижнему регистру. Разделите текст на слова, считая разделителями все, кроме букв. Обратите внимание на функцию `split` из модуля `re`.

Не забудьте удалить пустые слова:
```
words = filter(lambda x: len(x) > 0, words)
```

In [4]:
from urllib import urlopen
url = "http://www.gutenberg.org/files/2554/2554.txt"
response = urlopen(url)
raw_text = response.read().decode('utf8')

In [5]:
raw_text[1000:1100]

u'r five\r\nchildren in only two rooms. The father and mother spent their evenings\r\nin reading aloud to '

In [8]:
import re

tokens = filter(lambda x: len(x) > 0, re.split('\W+', raw_text.lower()))
count = defaultdict(int)
for token in tokens:
    count[token] += 1
sorted_tokens = sorted(count.items(), reverse=True, key=lambda x: x[1])
top = sorted_tokens[:20]
only_one = sorted_tokens[-20:]

for word, _ in top:
    print word
    
print '\n'

for word, _ in only_one:
    print word

the
and
to
he
a
i
you
of
it
that
in
was
his
at
her
but
not
s
with
she


this_
fawning
sabre
noxious
faithfully
uncontrollable
funds
deuce
tactics
rigamarole
venetian
rickety
unfolding
gnawing
bombarding
transfigured
june
upwards
sash
bereaved

## Часть 2: NumPy и SciPy

#### 1. Повторите 1000 раз следующий эксперимент: сгенерируйте две матрицы размера $10 \times 10$ из стандартного нормального распределения, перемножьте их (как матрицы) и найдите максимальный элемент. Какое среднее значение по экспериментам у максимальных элементов? 95-процентная квантиль?

Для вычисления квантили воспользуйтесь функцией `np.percentile`

In [4]:
avg_max = 0
maxes = np.zeros(1000)

for i in range(1000):
    A = np.random.normal(loc=0, scale=1, size=(10, 10))
    B = np.random.normal(loc=0, scale=1, size=(10, 10))
    C = np.dot(A, B)
    
    max_elem = C.max()
    avg_max += max_elem
    maxes[i] += max_elem
    
avg_max /= 1000.0
quantile = np.percentile(maxes, q=95)

print avg_max, quantile

8.40812330656 12.0354613702

#### 2. Сгенерируйте 1000 чисел из распределения Пуассона с параметром $\lambda = 5$. Сформируйте массив, в котором в i-м элементе будет записано количество сгенерированных чисел, равных i.

Обратите внимание на функцию `np.bincount`

In [14]:
np.bincount(np.random.poisson(lam=5, size=(1000,)))

array([  6,  39,  73, 132, 171, 164, 169, 101,  72,  35,  18,  13,   3,   4])

#### 3. Реализуйте функцию, которая принимает на вход numpy-массив целых чисел `a`, и генерирует массив, в котором число `i` встречается `a[i]` раз. Протестируйте на результате из прошлого задания.

Обратите внимание на функцию `np.repeat`

In [18]:
def repeat_elemets(a):
    n = a.shape[0]
    return np.repeat(np.arange(n), repeats=a)

repeat_elemets(np.bincount(np.random.poisson(lam=5, size=(1000,))))

array([ 0,  0,  0,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,  2,
        2,  2,  2,  2,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,
        3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,
        3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,
        3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,
        3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,
        3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,
        3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,
        3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,  3,
        3,  3,  3,  3,  3,  3,  3,  3,  3,  4,  4,  4,  4,  4,  4,  4,  4,
        4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,
        4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,
        4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,
        4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,
        4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,
        4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,
        4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,
        4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,
        4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,
        4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,  4,
        4,  4,  4,  4,  4,  4,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,
        5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,
        5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,
        5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,
        5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,
        5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,
        5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,
        5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,
        5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,
        5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  5,  6,  6,  6,
        6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,
        6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,
        6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,
        6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,
        6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,
        6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,
        6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,
        6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  6,
        6,  6,  6,  6,  6,  6,  6,  6,  6,  6,  7,  7,  7,  7,  7,  7,  7,
        7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,
        7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,
        7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,
        7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,
        7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,
        7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,  7,
        8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,
        8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,
        8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,  8,
        8,  8,  8,  8,  8,  8,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,
        9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,  9,
        9,  9,  9,  9,  9,  9,  9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10,
       10, 10, 11, 11, 11, 11, 11, 11, 12, 12, 13, 13, 14, 14])

#### 4. Напишите функцию `scale(X)`, которая принимает на вход матрицу и масштабирует каждый ее столбец (вычитает среднее и делит на стандартное отклонение). Убедитесь, что в функции не будет происходить деления на ноль. Протестируйте на каких-нибудь данных.

In [31]:
def scale(X):
    mean = X.mean(axis=0)
    std = X.std(axis=0)
    X -= mean
    X[:, std != 0] /= std[std != 0]
    return X
    
X = np.hstack((np.random.normal(size=(3, 4)), np.full((3, 1), 1)))
scale(X)

array([[-0.37159017,  0.89126632,  0.1972101 ,  1.06316577,  0.        ],
       [ 1.36750595, -1.39654497, -1.31138332,  0.27604259,  0.        ],
       [-0.99591578,  0.50527865,  1.11417322, -1.33920836,  0.        ]])

#### 5. Сгенерируйте матрицу с элементами из нормального распределения $\mathcal{N}(10, 1)$. Найдите ее:
- определитель
- след
- наименьший и наибольший элементы
- спектральную норму
- норму Фробениуса
- собственные числа
- обратную матрицу

In [41]:
A = np.random.normal(loc=10, scale=1, size=(10, 10))
print 'det =', np.linalg.det(A)
print 'trace =', np.trace(A)
print 'min =', A.min(), ' max =', A.max()
print 'spectral_norm =', np.linalg.norm(A, ord=2)
print 'frobeneus_norm =', np.linalg.norm(A, ord='fro')
print 'inverse_matrix =', np.linalg.inv(A)

 det = -66416.0709239
trace = 98.8902602671
min = 7.57287447314  max = 13.0172225831
spectral_norm = 100.301693169
frobeneus_norm = 100.790901056
inverse_matrix = [[  5.81948803e-01  -2.58581053e-01  -6.22995275e-01   8.02080069e-01
    5.17067701e-01  -6.73263337e-02  -2.28459054e-01   9.12393747e-01
   -3.61459488e-01  -1.48399413e+00]
 [ -7.13082730e-01   3.04939302e-01   1.24314779e+00  -8.24864933e-01
   -8.63768618e-01  -1.93054431e-01   8.95412646e-02  -1.28350888e+00
    4.33215732e-01   2.12627039e+00]
 [ -6.22515153e-02  -1.69549166e-02   1.29113402e-01   5.42871807e-02
   -1.83270703e-03   1.29465949e-01  -5.63190001e-02   8.87517030e-02
   -4.93573323e-02  -2.31805363e-01]
 [  1.22204162e-01  -6.18899705e-02  -3.51874185e-02  -2.76394776e-01
    5.14681195e-02   7.33562199e-02  -1.57187360e-01   2.95562387e-01
   -4.94563642e-02   4.31587402e-02]
 [ -2.64357620e-01   1.80603106e-01   1.88586276e-01  -1.30585459e-01
    4.04268341e-02  -6.12352284e-02  -1.70717185e-01   1.66061640e-02
    1.63903623e-01   5.04198179e-02]
 [ -1.89152530e-01  -7.15401595e-02   8.45171792e-02  -1.30670619e-01
    1.06333873e-02  -1.35344597e-01   4.79987733e-01  -6.47142370e-01
    8.47376629e-02   6.13483221e-01]
 [ -3.73573422e-01   2.19768041e-02   8.23806271e-01  -3.77820859e-01
   -4.06961421e-01  -2.81597058e-02  -6.06525672e-02  -8.66983775e-01
    3.44307825e-01   1.10074865e+00]
 [  6.59784357e-02   2.25520215e-01   9.20232163e-03  -9.29556585e-02
    3.58650991e-02  -3.76906410e-02   4.79260826e-02  -9.76162363e-02
   -8.31491932e-03  -1.37841895e-01]
 [  1.67245594e-01  -1.36060889e-01  -5.64147835e-01   5.79280756e-01
    1.91936303e-01   1.90730997e-01   1.21567371e-01   1.17403403e-01
   -3.50194612e-01  -3.75081820e-01]
 [  6.99129840e-01  -1.84600484e-01  -1.30118797e+00   4.49049761e-01
    4.69410399e-01   1.56957981e-01  -5.25193735e-02   1.51483811e+00
   -2.28458908e-01  -1.77530813e+00]]

## Часть 3: Pandas

#### Ответьте на вопросы о данных по авиарейсам в США за январь-апрель 2008 года.

Данные: http://stat-computing.org/dataexpo/2009/2008.csv.bz2
(обратите внимание, что распаковывать этот файл не обязательно — функция `pandas.read_csv` умеет читать из архивов автоматически)

Описание: http://stat-computing.org/dataexpo/2009/the-data.html

1. Какая из причин отмены рейса (`CancellationCode`) была самой частой? (расшифровки кодов можно найти в описании данных)
2. Найдите среднее, минимальное и максимальное расстояние, пройденное самолетом.
3. Не выглядит ли подозрительным минимальное пройденное расстояние? В какие дни и на каких рейсах оно было? Какое расстояние было пройдено этими же рейсами в другие дни?
4. Из какого аэропорта было произведено больше всего вылетов? В каком городе он находится?
5. Найдите для каждого аэропорта среднее время полета (`AirTime`) по всем вылетевшим из него рейсам. Какой аэропорт имеет наибольшее значение этого показателя?
6. Найдите аэропорт, у которого наибольшая доля задержанных (`DepDelay > 0`) рейсов. Исключите при этом из рассмотрения аэропорты, из которых было отправлено меньше 1000 рейсов (используйте функцию `filter` после `groupby`).

In [2]:
x = pd.read_csv('2008.csv')

In [7]:
most_frequent_cancellation_code = x['CancellationCode'].value_counts().argmax()
if  most_frequent_cancellation_code == 'A':
    print 'Carrier'
elif most_frequent_cancellation_code == 'B':
    print 'Weather'
elif most_frequent_cancellation_code == 'C':
    print 'NAS'
else:
    print 'Security'

Weather

In [10]:
mean_distance = x['Distance'].mean()
min_distance = x['Distance'].min()
max_distance = x['Distance'].max()

In [27]:
min_distance_flights = x.loc[x['Distance'] == min_distance, 'FlightNum']
x.loc[x['Distance'] == min_distance, ['Year', 'Month', 'DayofMonth','Origin', 'Dest', 'FlightNum']]

         Year  Month  DayofMonth Origin Dest  FlightNum
2547298  2008      5          15    JFK  LGA       4988
4392215  2008      8          10    JFK  LGA       5572

In [32]:
x.loc[x['FlightNum'].isin(min_distance_flights), ['Year', 'Month', 'DayofMonth','FlightNum','Distance']]

         Year  Month  DayofMonth  FlightNum  Distance
151629   2008      1           2       5572       544
151771   2008      1           3       4988       834
152291   2008      1           3       5572       544
152430   2008      1           4       4988       834
152949   2008      1           4       5572       544
153088   2008      1           5       4988       834
153419   2008      1           5       5572       544
153545   2008      1           6       4988       834
153963   2008      1           6       5572       544
154096   2008      1           7       4988       834
154611   2008      1           7       5572       544
154750   2008      1           8       4988       834
155185   2008      1           8       5572       544
155308   2008      1           9       4988       834
155823   2008      1           9       5572       544
155962   2008      1          10       4988       834
156485   2008      1          10       5572       544
156627   2008      1          11       4988       834
157148   2008      1          11       5572       544
157287   2008      1          12       4988       834
157622   2008      1          12       5572       544
157747   2008      1          13       4988       834
158169   2008      1          13       5572       544
158301   2008      1          14       4988       834
158819   2008      1          14       5572       544
158958   2008      1          15       4988       834
159392   2008      1          15       5572       544
159514   2008      1          16       4988       834
160029   2008      1          16       5572       544
160169   2008      1          17       4988       834
...       ...    ...         ...        ...       ...
6776729  2008     12          30       4988       903
6776730  2008     12          29       4988       903
6776731  2008     12          31       4988       903
6776732  2008     12          28       4988       903
6776733  2008     12          26       4988       903
6776734  2008     12          24       4988       903
6776735  2008     12           1       4988       903
6776736  2008     12           6       4988       903
6776737  2008     12           5       4988       903
6776738  2008     12          12       4988       903
6776739  2008     12           7       4988       903
6776740  2008     12          25       4988       903
6776741  2008     12           3       4988       903
6776742  2008     12           4       4988       903
6776743  2008     12          20       4988       903
6776744  2008     12          22       4988       903
6776745  2008     12           8       4988       903
6776746  2008     12          16       4988       903
6776747  2008     12          19       4988       903
6776748  2008     12          11       4988       903
6776749  2008     12          13       4988       903
6776750  2008     12          15       4988       903
6776751  2008     12           9       4988       903
6776752  2008     12           2       4988       903
6776753  2008     12          21       4988       903
6776754  2008     12          23       4988       903
6776755  2008     12          14       4988       903
6776756  2008     12          17       4988       903
6776757  2008     12          10       4988       903
6776758  2008     12          18       4988       903

[1051 rows x 5 columns]

In [35]:
x['Origin'].value_counts().argmax()

'ATL'

In [6]:
avg_times = x.groupby('Origin')['AirTime'].mean()
avg_times

In [10]:
avg_times.argmax()

'SJU'

In [73]:
y = pd.DataFrame({'Origin': x['Origin'], 'Delayed': x['DepDelay'] > 0})

In [113]:
agg_y = y.groupby('Origin').agg([len, np.sum])

In [114]:
filter_agg_y = agg_y[agg_y['Delayed']['len'] >= 1000]

In [115]:
delayed_count = filter_agg_y['Delayed']['sum']
all_count = filter_agg_y['Delayed']['len']

In [116]:
ratios = delayed_count / all_count

In [118]:
ratios.argmax()

'DAL'